<form method="POST" action="{% url 'accounts:login' %}">
    {% csrf_token %}
    {% if next %}
    <input type="hidden" name="next" value="{{ next }}">
    {% endif %}
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    {% for f in form %}
        <div class="form-group">
            {{ f }} 
            {% if f.errors %}{{ f.errors }}{% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-success mr-3">Login</button>
    <a href="{% url 'password_reset' %}">Lost password</a>
</form>