{% extends 'base.html' %}
{% block content %}
{% if product.image %}
    <div class="col mt-4 product">
        <img src="{{ product.image.url }}">
    </div>
{% endif %}
<div class="col mt-4">
    <p class="col">{{ product.name }}</p>
    <p class="col">{{ product.description }}</p>
    <p class="col">{{ product.price }}</p>
    {% url 'cart:update' as action_url %}
    {% if in_cart %}
    {% include 'snippets/add_remove_product_form.html' with action_url=action_url slug=product.slug next='0' in_cart=in_cart %}
    {% else %}
    {% include 'snippets/add_remove_product_form.html' with action_url=action_url slug=product.slug next='0' in_cart=in_cart %}
    {% endif %}
</div>
{% endblock %}